.btn {
  border-radius: 6px;
  background-color: $button-bq-color;
  color: $button-text-color;
  border: none;
  border-radius: 6px;
  padding: 4px 16px;
  font-weight: bold;
  letter-spacing: 0em;
  text-align: center;

  &--size-m {
    width: 117px;
    height: 32px;
    line-height: 24px;
  }
}

.btn:active {
  opacity: 0.9;
}

//styleName: Paragraph / IBM Plex Sans Medium;
